.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

@font-face {
  font-family: Quicksand-light;
  src: url("../css/fonts/Quicksand-Light.ttf"); }
@font-face {
  font-family: Quicksand-regular;
  src: url("../css/fonts/Quicksand-Regular.ttf"); }
@font-face {
  font-family: Quicksand-medium;
  src: url("../css/fonts/Quicksand-Medium.ttf"); }
@font-face {
  font-family: Quicksand-bold;
  src: url("../css/fonts/Quicksand-Bold.ttf"); }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: #3a3a3a; }

body {
  margin: 0 auto;
  font-family: "Quicksand-regular", sans-serif;
  font-size: 14px; }

@keyframes pop {
  50% {
    transform: scale(1.2); } }
.container {
  display: flex;
  flex-direction: row;
  height: 100%; }

@media screen and (max-width: 765px) {
  .app-icon {
    font-size: 18px;
    margin: 10px; }

  .nav-icon {
    font-size: 12px; }

  .nav-item {
    font-size: 8px; } }
@media screen and (min-width: 766px) {
  .app-icon {
    font-size: 28px;
    margin: 25px; }

  .nav-icon {
    font-size: 20px; }

  .nav-item {
    font-size: 12px; } }
.content {
  padding: 25px; }

.header-box {
  background-color: #fff;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  box-shadow: 5px 5px 26px -17px rgba(0, 0, 0, 0.46); }

.sidebar {
  background-color: #fff;
  height: 100%;
  float: left; }

.content {
  background-color: #e9f0f1;
  width: 95%;
  height: 100%;
  float: left; }

.app-logo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.app-icon {
  margin-bottom: 25px;
  background: linear-gradient(#ffe343, #ffa743);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.menu-btn {
  flex-direction: column;
  align-items: center; }

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: #fff; }

.icon-container {
  padding: 20px;
  margin: 5px;
  border-radius: 200px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.icon-container:hover {
  -webkit-box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92);
  box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92);
  animation: pop 0.3s linear 1; }

.icon-container:active {
  -webkit-box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92);
  box-shadow: 10px 10px 137px -17px rgba(0, 0, 0, 0.92); }

.icon-container:active > .nav-icon {
  color: #6798fa; }

.icon-container:hover > .nav-icon {
  color: #6798fa; }

.icon-container:hover ~ .nav-item-name {
  display: block;
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out; }

.nav-icon {
  color: #d1d2d6; }

.nav-item-name {
  font-family: 'Quicksand-bold', sans-serif;
  opacity: 0;
  color: #858f9e;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out; }

.table-header {
  margin-left: 20px;
  margin-top: 50px; }

.table-description {
  margin-left: 20px;
  margin-top: -10px;
  font-family: "Quicksand-light", sans-serif; }

.table-container table {
  width: 100%;
  margin-left: 20px; }
.table-container .dataTables_wrapper table thead {
  display: none; }

.port {
  margin: 100px; }

.outer_face {
  position: relative;
  width: 120px;
  /* width of clock */
  height: 120px;
  /* height of clock */
  border-radius: 200px;
  /* clock round corner radius */
  border: 0 solid gray;
  /* thickness of outer border */
  z-index: 10000; }

.outer_face::before, .outer_face::after, .outer_face .marker {
  /* time markers syle */
  content: ""; }

.outer_face::after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.outer_face .marker {
  background: rgba(122, 122, 122, 0.411);
  width: 1px;
  /* width of all other markers */
  margin-left: -3px; }

.outer_face .marker.oneseven {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.outer_face .marker.twoeight {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.outer_face .marker.fourten {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg); }

.outer_face .marker.fiveeleven {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg); }

.inner_face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  left: 6%;
  /* set this value of 1/2 width value*/
  top: 6%; }

.hand, .hand.hour {
  position: absolute;
  width: 2px;
  /* width of hour hand */
  height: 100%;
  /* height of hour hand */
  top: -50%;
  /* set top to 50% - height */
  left: 50%;
  margin-left: -2px;
  /* set this value to 1/2 width */
  background: #7ab9ff;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  z-index: -1000;
  -moz-box-shadow: 0 0 2px rgba(128, 128, 128, 0.281);
  -webkit-box-shadow: 0 0 2px rgba(128, 128, 128, 0.281);
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.281); }

#clockDiv {
  height: 18px;
  width: 74px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
  padding-top: 6px;
  text-align: center;
  color: white;
  font-size: 9px;
  background-color: #d9dee7;
  z-index: 1000;
  border-radius: 30px;
  margin-right: 14px;
  margin-top: 30px; }

#clockTextDiv {
  margin: auto;
  font-family: Quicksand-bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 58px;
  padding-left: 18px;
  color: #252525;
  font-size: 16px;
  z-index: 2000;
  text-align: center; }

.activity-list {
  height: 80%;
  display: flex;
  flex-direction: column; }

.activity-item {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  width: 260px;
  height: 50px;
  margin-top: 20px; }

.activity-icon-container {
  position: relative;
  font-size: 22px;
  border-radius: 200px;
  width: 25px;
  height: 25px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center; }

.life {
  padding: 13px;
  background-color: #00c52b; }

.work {
  padding: 13px;
  background-color: #ff6106; }

.eat {
  padding: 13px;
  background-color: #ffdb0f; }

.sleep {
  padding: 13px;
  background-color: #8641d4; }

.activity-icon {
  color: white; }

.activity-text {
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin-left: 18px; }

.activity-name {
  font-family: "Quicksand-bold", sans-serif; }

.activity-duration {
  margin-top: 2px; }

/*# sourceMappingURL=styles.css.map */
