.activity-list {
    max-height: 80%;
    display: flex;
    flex-direction: column;

}

.activity-item {   
    display: flex;    
    padding: 20px;
    border-radius: 8px;
    background-color: $white;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.activity-item:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.activity-icon-container {
  position: relative;
  font-size: 22px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition:         all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.life {
    padding: 13px;
    background-color: rgb(0, 197, 43);
}

.work {
    padding: 13px;
    background-color: rgb(255, 97, 6);
}

.eat {
    padding: 13px;
    background-color: rgb(255, 219, 15);
}

.sleep {
    padding: 13px;
    background-color: rgb(134, 65, 212);
}

.activity-icon {
    color: rgb(255, 255, 255);
}

.activity-text {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    margin-right: 78px;
}

.activity-name {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.activity-duration {
    margin-top:2px;
}

.activity-actions {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
}

.edit-icon {
    color: #2c87ff;
}

.delete-icon {
    color: #858585;
}