
.outer_face {
    position: relative;
    margin-top:-260px;
    margin-left: 85px;
    width: 120px; /* width of clock */
    height: 120px; /* height of clock */
    border-radius: 200px; /* clock round corner radius */
    border: 0 solid rgb(128, 128, 128); /* thickness of outer border */
    z-index: 3;
    }

.outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";

}

.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
    }

.outer_face .marker {
    background: rgba(122, 122, 122, 0.411);
    width: 1px; /* width of all other markers */
    margin-left: -3px /* set this value of 1/2 marker width */
    }

.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
    }

.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
    }

.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
    }

.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
    }

.inner_face {
    position: absolute;
    width: 150%;
    height: 150%;
    background: rgb(255, 255, 255);
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;

    }

.hand, .hand.hour {
    position: absolute;
    width: 2px; /* width of hour hand */
    height: 100%; /* height of hour hand */
    top: -50%; /* set top to 50% - height */
    left: 50%;
    margin-left: -2px; /* set this value to 1/2 width */
    background: #7ab9ff;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1000;
    -moz-box-shadow: 0 0 2px rgba(128, 128, 128, 0.281);
    -webkit-box-shadow: 0 0 2px rgba(128, 128, 128, 0.281);
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.281);
    }

    #clockDiv {
        height: 28px;
        width: 74px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        font-weight: bold;
        padding-top: 6px;
        text-align: center;
        color: white;
        font-size: 14px;
        background-color: rgb(199, 199, 199);
        z-index: 10;
        border-radius: 30px;
        margin-top: 22px;
    }

    #clockTextDiv {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        top: 0; left: 0; bottom: 0; right: 0;
        padding-top: 70px;
        color: rgb(37, 37, 37);
        font-size: 28px;
        z-index: 2;
        text-align: center;
        line-height: 1.2;
    }

.outer-circle {
    padding: 45px;
    border-radius: 900px;
    background-color: rgb(233, 233, 233);
    border: 6px rgb(199, 199, 199) solid;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(199, 199, 199);
    display: inline-block;
    position: absolute;
}

.one {
    left: -28px;
    top: -28px;
}

.faux-clock {
    // position: absolute;
    // left: 50%;
    // margin-left:-256px;
    width: 350px;
    z-index: 1;
}
