html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
  overflow: hidden;
  color: $mainTextColor;
}

body{
  margin: 0 auto;
  font-family: 'Quicksand';
  font-size: 14px;
}


@keyframes pop{
  50%  {transform: scale(1.2);}
}

.App {
  padding: 30px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.module-name {
  font-size: 20px;
  font-weight: 600;
}