.header-box { 
	background-color: $white;
	width: 100%;
	height: 80px;
	border-radius: 5px;
	box-shadow: 5px 5px 26px -17px rgba(0,0,0,0.46);
}

.clock-container {
	height: 500px;
}

.clock-section {
	display: flex;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

.list-section {
	display: flex;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
}