@media screen and (max-width: 765px) { //Mobile

	.app-icon {
		font-size: 18px;
		margin: 10px;
	}

	.nav-icon {
		font-size: $mobileIconSize;
	}

	.nav-item {
		font-size: 8px;
	  }

}

@media screen and (min-width: 766px) { //Desktop

	.app-icon {
		font-size: 28px;
		margin: 25px;
	}

	.nav-icon {
		font-size: $desktopIconSize;
	}

	.nav-item {
		font-size: 12px;
	  }

}