.sidebar {
  background-color: $white;
  height: 100%;
  float: left;
}
  
.content {
  background-color: $backgroundColor;
  width: 95%;
  height: 100%;
  float: left;
}

.app-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-icon {
  margin-bottom: 25px;
  background: $yellowGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-btn {
  flex-direction: column;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: $white;
}

.icon-container {
  padding: 20px;
  margin: 5px;
  border-radius: 200px;
  -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition:         all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.icon-container:hover {
  -webkit-box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
  -moz-box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
  box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
  animation: pop 0.3s linear 1;
}

.icon-container:active {
  -webkit-box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
  -moz-box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
  box-shadow: 10px 10px 137px -17px rgba(0,0,0,0.92);
}

.icon-container:active > .nav-icon{
  color: $accentColor;
}

.icon-container:hover > .nav-icon{
  color: $accentColor;
}

.icon-container:hover ~ .nav-item-name{
  display: block;
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.nav-icon {
  color: $idleIconColor;
}

.nav-item-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  opacity: 0;
  color: $idleTextColor;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}