.table-header {
	margin-left: 20px;
	margin-top: 50px;
}

.table-description {
	margin-left: 20px;
	margin-top: -10px;
    font-family: $quicksandLight;
}

.table-container {

    table {
        width: 100%;
        margin-left: 20px;
    }

    .dataTables_wrapper table thead{
        display:none;
    }
}