$quicksandLight: 'Quicksand-light', sans-serif;
$quicksandRegular: 'Quicksand-regular', sans-serif;
$quicksandMedium: 'Quicksand-medium', sans-serif;
$quicksandBold: 'Quicksand-bold', sans-serif;

$mainTextColor: #3a3a3a;
$accentColor: #6798fa;
$idleIconColor: #d1d2d6;
$idleTextColor: #858f9e;
$backgroundColor: #e9f0f1;

$white: #fff;
$yellow: #ffe343;
$yellowGradient: linear-gradient(#ffe343, #ffa743);

$mobileIconSize: 12px;
$desktopIconSize: 20px;